.admin-page {
    text-align: center;
    color: lightskyblue;
    font-size: 50px;

    .btn-exit {
        position: absolute;
        left: 88%;
        bottom: 12%;
        width: 200px;
        height: 50px;
    }
}