<div class="login-page">
    <div class="row">
        <div class="col-md-12">
            <h1>LOGIN</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form name="loginForm" novalidate ng-submit="vm.checkLogin(vm.newUser)">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username:" ng-model="vm.newUser.login">
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Password:" ng-model="vm.newUser.password">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-login btn-block" type="submit" ng-click="vm.checkLogin(vm.newUser)">Login</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{vm.newUser}}
        </div>
    </div>
</div>