.login-page {
    width: 400px;
    position: relative;
    top: 30vh;
    left: 40%;

    h1 {
        text-align: center;
        font-size: 50px;
        padding-bottom: 25px;
        letter-spacing: 25px;
        color: #1A2980;
    }

    .form-error {
        border: 1.5px solid #EB3349;
        transition: 1s;
        background: rgb(255, 228, 243);
    }

    .error-message {
        transition: 1s;
        color: #EB3349;
        position: absolute;
        font-size: 18px;
        top: 6px;
        z-index: 99;
        &.login {
            left: 68%;
        }
        &.password {
            left: 73%;
        }
    }

    .btn-login {
        background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
        transition: 0.5s;
        background-size: 200% auto;
        border-radius: 12px;
        color: white !important;
    }

    .btn-login:hover {
        letter-spacing: 2px;
        background-position: right center;
        color: white !important;
    }

    .btn-login:disabled {
        background-image: linear-gradient(to right, #EB3349 0%, #F45C43 51%, #EB3349 100%);
        cursor: $cursor-invalid;
    }
}