<app-menu></app-menu>
<div class="profile-page">
    <div class="row title-row">
        <div class="col-md-12">
            <h1 ng-bind="vm.auth.getUserFullName()"></h1>
        </div>
    </div>
    <form name="editUserForm" novalidate ng-submit="vm.save(vm.editedUser)">
        <div class="row form-row">
            <div class="col-md-4 col-sm-6">
                <label>Lastname</label>
            </div>
            <div class="col-md-8 col-sm-6">
                <input  type="text"
                        class="form-control mr-sm-2"
                        ng-model="vm.editedUser.fio.lastname">
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-4 col-sm-6">
                <label>Firstname</label>
            </div>
            <div class="col-md-8 col-sm-6">
                <input  type="text"
                        class="form-control mr-sm-2"
                        ng-model="vm.editedUser.fio.firstname">
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-4 col-sm-6">
                <label>Patronymic</label>
            </div>
            <div class="col-md-8 col-sm-6">
                <input  type="text"
                        class="form-control mr-sm-2"
                        ng-model="vm.editedUser.fio.patronymic">
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-4 col-sm-6">
                <label>Birthdate</label>
            </div>
            <div class="col-md-8 col-sm-6">
                <input  type="date"
                        class="form-control mr-sm-2"
                        ng-model="vm.editedUser.birthdate">
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-4 col-sm-6">
                <label>E-mail</label>
            </div>
            <div class="col-md-8 col-sm-6">
                <input  type="email"
                        class="form-control mr-sm-2"
                        ng-model="vm.editedUser.email">
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-4 col-sm-6">
                <label>Login</label>
            </div>
            <div class="col-md-8 col-sm-6">
                <input  type="text"
                        class="form-control mr-sm-2"
                        ng-model="vm.editedUser.login"
                        maxlength="29"
                        required>
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-4 col-sm-6">
                <label>New password</label>
            </div>
            <div class="col-md-8 col-sm-6">
                <input  type="password"
                        class="form-control mr-sm-2"
                        ng-model="vm.editedUser.password"
                        ng-minlength="6"
                        ng-maxlength="31"
                        ng-change="vm.checkPasswordStrength()"
                        required>
                <i class="icon icon-lock"
                   ng-if="vm.editedUser.password.length"
                   ng-class="{ 'str-pswd': vm.passwordStrength == 'strong',
                               'med-pswd': vm.passwordStrength == 'medium',
                               'low-pswd': vm.passwordStrength == 'low' }">
                </i>
            </div>
        </div>
        <div class="row form-row" ng-if="vm.editedUser.password.length">
            <div class="col-md-4 col-sm-6">
                <label>Confirm password</label>
            </div>
            <div class="col-md-8 col-sm-6">
                <input  type="password"
                        class="form-control mr-sm-2"
                        ng-model="vm.editedUser.confirmPassword"
                        ng-minxlength="6"
                        ng-maxlength="31"
                        required>
            </div>
        </div>
        <div class="row form-row">
            <button class="btn btn-save" type="submit" ng-disabled="editUserForm.$invalid">Save</button>
            <button class="btn btn-discard" ng-click="vm.discard()" ng-disabled="!editUserForm.$dirty">Discard</button>
        </div>
        <div class="row form-row">
            <div>
                <span>invalid: </span>
                <span>{{editUserForm.$invalid}}</span>
            </div>
        </div>
        <div class="row form-row">
            <div>
                <span>valid: </span>
                <span>{{editUserForm.$valid}}</span>
            </div>
        </div>
        <div class="row form-row">
            <div>
                <span>pristine: </span>
                <span>{{editUserForm.$pristine}}</span>
            </div>
        </div>
        <div class="row form-row">
            <div>
                <span>dirty: </span>
                <span>{{editUserForm.$dirty}}</span>
            </div>
        </div>
    </form>
</div>