<app-menu></app-menu>
<div class="profile-page">
    <div class="row title-row">
        <div class="col-md-12">
            <h1 ng-bind="vm.auth.getUserFullName()"></h1>
        </div>
    </div>
    <form name="usersForm" novalidate ng-submit="vm.save(vm.editedUser)">
        <div class="row form-row">
            <div class="col-md-4 col-sm-6">
                <label>Lastname</label>
            </div>
            <div class="col-md-8 col-sm-6">
                <input  type="text"
                        class="form-control mr-sm-2"
                        ng-model="vm.editedUser.fio.lastname">
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-4 col-sm-6">
                <label>Firstname</label>
            </div>
            <div class="col-md-8 col-sm-6">
                <input  type="text"
                        class="form-control mr-sm-2"
                        ng-model="vm.editedUser.fio.firstname">
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-4 col-sm-6">
                <label>Patronymic</label>
            </div>
            <div class="col-md-8 col-sm-6">
                <input  type="text"
                        class="form-control mr-sm-2"
                        ng-model="vm.editedUser.fio.patronymic">
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-4 col-sm-6">
                <label>Birthdate</label>
            </div>
            <div class="col-md-8 col-sm-6">
                <input  type="date"
                        class="form-control mr-sm-2"
                        ng-model="vm.editedUser.birthdate">
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-4 col-sm-6">
                <label>E-mail</label>
            </div>
            <div class="col-md-8 col-sm-6">
                <input  type="email"
                        class="form-control mr-sm-2"
                        ng-model="vm.editedUser.email">
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-4 col-sm-6">
                <label>Login</label>
            </div>
            <div class="col-md-8 col-sm-6">
                <input  type="text"
                        class="form-control mr-sm-2"
                        ng-model="vm.editedUser.login"
                        maxlength="29"
                        required>
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-4 col-sm-6">
                <label>New password</label>
            </div>
            <div class="col-md-8 col-sm-6">
                <input  type="password"
                        class="form-control mr-sm-2"
                        ng-model="vm.editedUser.password"
                        maxlength="31"
                        required>
            </div>
        </div>
        <div class="row form-row" ng-if="vm.editedUser.password.length">
            <div class="col-md-4 col-sm-6">
                <label>Confirm password</label>
            </div>
            <div class="col-md-8 col-sm-6">
                <input  type="password"
                        class="form-control mr-sm-2"
                        ng-model="vm.editedUser.confirmPassword"
                        maxlength="31"
                        required>
            </div>
        </div>
        <button class="btn btn-save" type="submit" ng-disabled="usersForm.$invalid">Save</button>
        <button class="btn btn-discard" ng-click="vm.discard()" ng-disabled="!usersForm.$dirty">Discard</button>
    </form>
</div>