@import '~bootstrap/dist/css/bootstrap';
@import './scss/variables';
@import './../pages/admin/components/admin.component';
@import './../pages/directives/app-menu/components/app-menu.component';
@import './../pages/login/components/login.component';
@import './../pages/profile/components/profile.component';
@import './../pages/vacation/components/vacation.component';

body {
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    overflow-x: hidden;

    i.icon.icon-lock {
        background: $icon-lock;
        background-size: contain;
        position: absolute;
        width: 32px;
        height: 32px;
        top: 5px;
        right: -40px;
    }
}