$cursor-invalid: url('./icons/cursor-invalid.png'), auto;
$icon-lock: url('./icons/icon-lock.png'), no-repeat top left;
$color-password-strong: #00ff86;
$color-password-medium: #8dc6ff;
$color-password-low: #ff9eff;
$color-password-short: #fdb62f;
$color-pink-error: #FFA9E8;