$cursor-invalid: url('./icons/cursor-invalid.png'), auto;
$background: url('./images/background.jpg') no-repeat center center fixed;
$icon-lock: url('./icons/icon-lock.png'), no-repeat top left;
$perfect-gradient: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
$color-password-strong: #00ff86;
$color-password-medium: #8dc6ff;
$color-password-low: #ff9eff;
$color-password-short: #fdb62f;
$color-pink-error: #FFA9E8;
$vice-city-pink: #EC6EAD;
$vice-city-blue: #3494E6;