<div class="app-menu">
    <nav class="navbar navbar-expand-lg nav-vice-city">
        <a class="navbar-brand" ui-sref="profile" ng-bind="vm.auth.getAuthUser().getShortName()"></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#/">Home</a>
                </li>
                <li class="nav-item" ng-if="vm.auth.checkUserType('administrator')">
                    <a class="nav-link" ui-sref="users">Users</a>
                </li>
            </ul>
            <button class="btn btn-vice-city-quit" ng-click="vm.auth.exit()">QUIT</button>
        </div>
    </nav>
</div>