.users-page {
    .table {
        width: 25%;
        color: #212529;
        margin: 16px;
        border-right: 1px solid #333;
        text-align: center;
        &-header {
            text-align: center;
            border-bottom: 1px solid #333;
        }
        &-body {

        }
        &-row {
            a {
                color: brown;
                cursor: pointer;
            }
            user-info {
                position: absolute;
                top: 9.1%;
                width: 73%;
                left: 26.2%;
                height: auto;
                max-height: 86vh;
                .title-row {
                    padding: 0;
                    h1 {
                        padding: 0;
                        padding-left: 60px;
                        border-bottom: 1px solid;
                        font-size: 33px;
                        text-align: left;
                    }
                }
                .user-data-edit {
                    form {
                        margin: unset;
                        margin-top: 20px;
                        margin-left: 20px;
                    }
                    .button-row {
                        margin: unset;
                        margin-left: 190px;
                    }
                }
            }
        }
    }
}